<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="test.TestNGListener"/>
</listeners>
  <test thread-count="5" name="DemoAppLaunch">
 
    <classes>
    <!--   <class name="test.OrangeHRMD"> -->
      <class name="test.BaseValidation">
      <!-- <methods>
      <include name="testdemo"/>
      <include name="testdemo2"/>
      </methods> -->
      </class>
    </classes>
 </test> 
  
</suite> 
